.header__lang-link {
    max-width: 30px;
    height: 28px;
    color: #ffffff;
    margin: 18px 0 6px 18px;
    text-decoration-line: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
  }
  
  @media screen and (max-width: 320px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 20px;
    }
  }