.photo-grid {
    padding: 92px 48px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
  

  @media screen and (max-width: 1024px) {
    .photo-grid {
      padding: 92px 48px 0;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 14px;
      row-gap: 14px;
    }
  }

  @media screen and (max-width: 768px) {
    .photo-grid {
      padding: 88px 24px 0;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
      row-gap: 16px;
    }
  }

  @media screen and (max-width: 320px) {
    .photo-grid {
      padding: 64px 16px 0;
      grid-template-columns: 1fr;
      row-gap: 12px;
      
    }
  }

  