.places__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 80px;
  }

  @media screen and (max-width: 768px) {
    .places__list {
      row-gap: 72px;
    }
  }

  @media screen and (max-width: 320px) {
    .places__list {
      row-gap: 50px;
    }
  }