.places__place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: auto auto;
    row-gap: 48px;
    column-gap: 40px;
  }

  @media screen and (max-width: 1024px) {
    .places__place {
      grid-template-columns: 440px auto;
      column-gap: 32px;
      
    }
  }
  
 
  @media screen and (max-width: 768px) {
    .places__place {
      grid-template-columns: 340px 352px;
      column-gap: 28px;
      
    }
  }
 
  @media screen and (max-width: 360px) {
    .places__place {
      grid-template-columns: repeat(auto-fill, 320px);
      max-width: 320px;
      column-gap: 0;
      row-gap: 0;
    }
  }