.footer__item {
    margin-right: 18px;
  }
  .footer__item:nth-child(5) {
    margin-right: 0;
  }

  @media screen and (max-width: 320px) {
    .footer__item {
      margin-bottom: 18px;
    }
    .footer__item:last-child {
      margin-bottom: 0;
    }
  }